<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <mat-card class="shadow-lg bg-info mb-3">
        <mat-card-title class="text-center">Total Organizations</mat-card-title>
        <mat-card-content>
          <p class="text-center display-4">114</p>
        </mat-card-content>
        <mat-card-actions class="text-black-50 text-center">
          <a routerLink="/app/organizations" class="text-black-50">View all </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="shadow-lg bg-success mb-3">
        <mat-card-title class="text-center">Total Campaigns</mat-card-title>
        <mat-card-content>
          <p class="text-center display-4">154</p>
        </mat-card-content>
        <mat-card-actions class="text-black-50 text-center">
          <a routerLink="/app/campaigns" class="text-black-50">View all </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="shadow-lg bg-warning mb-3">
        <mat-card-title class="text-center">Total Posts</mat-card-title>
        <mat-card-content>
          <p class="text-center display-4">14</p>
        </mat-card-content>
        <mat-card-actions class="text-black-50 text-center">
          <a routerLink="/app/posts" class="text-black-50">View all </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>