<h1 mat-dialog-title>Select a thing</h1>
<div mat-dialog-content>
    <form>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter email</mat-label>
        <input matInput autocomplete="off" name="text" type="text">
      </mat-form-field>
     </form>
<div mat-dialog-actions>
    <button type="submit" class="mt-1 mb-2" mat-raised-button	color="primary">copy</button>
    <a routerLink="/organizations" mat-raised-button	color="secondary" class="btn text-muted ml-4">Cancel</a>
</div>