<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <a routerLink="/app/add-campaign" mat-raised-button color="primary" class="btn float-right mb-4"><mat-icon>add</mat-icon> Create Campaign</a>
      <a routerLink="org-filters" mat-raised-button color="warn" class="btn float-right mr-4"><mat-icon>filter_list</mat-icon> Filters</a>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th style="max-width: 50px; text-align: center;"># Sr.no</th>
            <th>Campaign Name</th>
            <th>Campaign Desc</th>
            <th>Landing Page URL</th>
            <th>Remark</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let campaign of campaigns.docs; let i = index">
            <td style="max-width: 14px; text-align: center;">{{ ((campaigns.page-1)*campaigns.limit)+(i+1) }}</td>
            <td>{{ campaign.title }}</td>
            <td>{{ campaign.camp_desc }}</td>
            <td>{{ campaign.landing_page_url }}</td>
            <td>{{ campaign.remark }}</td>
            <td class="button-row">
              <a [routerLink]="['/app/campaign-detail',campaign.id]"><mat-icon class="text-primary">launch</mat-icon></a> 
              <a (click)="deleteCamp(campaign.id)" style="cursor: pointer;"><mat-icon  class="text-danger">delete_outline</mat-icon></a> 
            </td>
          </tr>
          <tr>
            <td colspan="6">
              <mat-paginator [hidePageSize]='0'  [length]="campaigns.total"
              [pageSize]="campaigns.limit" [pageIndex]="campaigns.page-1" (page)="pageEvent = PageHandler($event)"></mat-paginator>
            </td>
          </tr>
          <tr *ngIf="campaigns.length<=0">
            <th class="text-center" colspan="6"><h4>No Records</h4></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>