<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <a routerLink="/app/add-post" mat-raised-button color="primary" class="btn float-right mb-4"><mat-icon>add</mat-icon> Create Post</a>
      <a  mat-raised-button color="warn" class="btn float-right mr-4"><mat-icon>filter_list</mat-icon> Filters</a>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th style="max-width: 50px; text-align: center;"># Sr.no</th>
            <th>Post Name</th>
            <th>Post Desc</th>
            <th>Post Type</th>
            <th>Post Content</th>
            <th>Post Link</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts.docs; let i = index">
            <td style="max-width: 14px; text-align: center;"> {{ ((posts.page-1)*posts.limit)+(i+1) }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.post_desc }}</td>
            <td>{{ post.post_type }}</td>
            <td>{{ post.post_content }}</td>
            <td><a (click)="openRepDialog(post.id)">Link</a></td>
            <td id="option">
              <mat-form-field>
                <mat-select placeholder="Status">
                  <mat-option value="1">Enable</mat-option>
                  <mat-option value="-1">Disable</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td class="button-row">
              <a [routerLink]="['/app/post-detail', post.id]"><mat-icon class="text-primary">launch</mat-icon></a> 
              <a (click)="deletePost(post.id)" style="cursor: pointer;"><mat-icon class="text-danger">delete_outline</mat-icon></a> 
            </td>
          </tr>
          <tr *ngIf="posts.length<=0">
            <th class="text-center" colspan="7"><h5>No Data Found</h5></th>
          </tr>
          <tr>
            <td colspan="8">
              <mat-paginator [hidePageSize]='0'  [length]="posts.total"
              [pageSize]="posts.limit" [pageIndex]="posts.page-1" (page)="pageEvent = PageHandler($event)"></mat-paginator>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>