<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-12">
      <a routerLink="/app/add-post" mat-raised-button color="primary" class="btn float-right mb-4"><mat-icon>add</mat-icon> Add Post</a>
      <a  mat-raised-button color="warn" class="btn float-right mr-4"><mat-icon>filter_list</mat-icon> Filters</a>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th># Sr.no</th>
            <th>Post Name</th>
            <th>Post Desc</th>
            <th>Post Type</th>
            <th>Post Content</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of posts">
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.post_desc }}</td>
            <td>{{ post.post_type }}</td>
            <td>{{ post.post_content }}</td>
            <td>
              <mat-form-field>
                <mat-select placeholder="Status">
                  <mat-option *ngFor="let status of statuses" [value]="status.value">
                    {{status.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td class="button-row">
              <a routerLink="edit-org" mat-mini-fab color=""><mat-icon class="text-primary">edit</mat-icon></a> 
              <a (click)="deletePost(post.id)" mat-mini-fab color=""><mat-icon  class="text-danger">delete</mat-icon></a> 
             
            </td>
          </tr>
          <tr *ngIf="posts.length<=0">
            <th class="text-center" colspan="7"><h4>No Records</h4></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>